@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 250 71% 4%;
    --foreground: 250 31% 91%;

    --muted: 250 47% 11%;
    --muted-foreground: 250 16.3% 56.9%;

    --accent: 250 34% 17%;
    --accent-foreground: 250 40% 98%;

    --popover: 250 71% 4%;
    --popover-foreground: 250 20.2% 65.1%;

    --border: 250 34% 17%;
    --input: 250 34% 23%;

    --card: 250 71% 4%;
    --card-foreground: 250 31% 91%;

    --primary: 250 40% 98%;
    --primary-foreground: 250 47.4% 1.2%;

    --secondary: 250 47.4% 14%;
    --secondary-foreground: 250 40% 98%;

    --destructive: 348 69% 19%;
    --destructive-foreground: 348 40% 98%;

    --ring: 250 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
